{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}
<style>
@media print {
    a {
        text-decoration: none;
        color: inherit;
    }

    .feedback, .register {
        display: none;
    }

    .print-register {
        text-align: center;
        margin: 20px 0 40px;
    }
}

@media screen {
    .print-register {
        display: none;
    }

    .feedback, .register {
        text-align: center;
        margin-bottom: 40px;
    }

    .register .btn {
        height: 48px;
        line-height: 48px;
        font-size: 3rem;
    }
}

.footnote {
    font-size: 80%;
    line-height: 1.5;
}
</style>

<h1>{{ hunt_title }}</h1>

{% if hunt_is_over %}
<div class="feedback">
{% if hunt_is_closed %}
{% blocktranslate with title=hunt_title %}{{ title }}现已结束！感谢游玩！{% endblocktranslate %}
{% else %}
{% format_time close_time "DATE_AT_TIME" as hunt_close %}
{% blocktranslate with title=hunt_title %}{{ title }}现已结束，但是在{{ hunt_close }}之前，你仍然可以注册并游玩。{% endblocktranslate %}
{% endif %}
<br>
{% with feedback_url="https://FIXME" %}
{% if wrapup_page_visible %}
{% url 'wrapup' as wrapup_url %}
{% blocktranslate %}请在<a href="{{ feedback_url }}">填写反馈表，帮助我们做得更好！</a>{% endblocktranslate %}
{% else %}
{% blocktranslate %}请在<a href="{{ feedback_url }}">填写反馈表，帮助我们做得更好！</a>{% endblocktranslate %}
{% endif %}
{% endwith %}
</div>
{% endif %}

<div class="info-row">
    <div>
        <h4>{% translate "何事？" %}</h4>
        <div class="info-desc">
            {% translate "这是一个小小的Puzzle Hunt。"%}
            {% url 'about' as about_url %}
            {% blocktranslate %}查看<a href="{{ about_url }}">关于</a>页面以获取更多信息。{% endblocktranslate %}
            {% translate "祝你玩得开心！"%}
        </div>
    </div>
    <div>
        <h4>{% translate "何时？" %}</h4>
        <div class="info-desc">
            {% format_time start_time "DATE_AT_TIME" as hunt_start %}
            {% format_time end_time "DATE_AT_TIME" as hunt_end %}
            {% if hunt_is_over %}
            {% blocktranslate %}比赛于{{ hunt_start }}开始,{{ hunt_end }}结束.{% endblocktranslate %}
            {% else %}
            {% days_between start_time end_time as num_days %}
            {% blocktranslate %}比赛将于{{ hunt_start }}开始,于{{ num_days }}天后的{{ hunt_end }}结束.{% endblocktranslate %}
            {% endif %}
        </div>
    </div>
    <div>
        <h4>{% translate "何士？" %}</h4>
        <div class="info-desc">
            {% with organizer="AcetylCholine233" %}
            {% blocktranslate %}是{{ organizer }}和他的小伙伴们举办的！{% endblocktranslate %}
            {% endwith %}
        </div>
    </div>
</div>

{% if not hunt_is_closed and not request.user.is_authenticated %}
<div class="register">
    <a href="{% url 'register' %}" class="btn">{% translate "立即注册你的队伍！" %}</a>
</div>
<h3 class="print-register">
    <a>{% translate "立即注册你的队伍！"%} https://FIXME</a>
</h3>
{% endif %}
{% endblock %}

</h3>
{% endif %}
{% endblock %}
