{% extends "base.html" %}
{% load i18n %}
{% block content %}

<style>
.row {
    margin-bottom: 1em;
}
</style>

<h2>{% translate "注册新队伍" %}</h2>

{% if team %}
<h4>{% blocktranslate with team_name=team.team_name %}你已经作为{{team_name}}登录了！{% endblocktranslate %}</h4>
{% endif %}

<form id="register" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-section">
    {% for field in form %}
        <div class="form-row">
            <div class="form-desc">
                {{ field.label_tag }}
            </div>
            {{ field }}
            {{ field.errors }}
            <div class="form-desc">
                {{ field.help_text|safe }}
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="form-section">
    <h4>{% translate "队伍成员" %}</h4>

    <p>{% translate "此后也可以在队伍界面添加成员。" %}<br>
        {% translate "你需要提供至少一位队伍成员的电子邮箱。" %}</p>

    {{ team_members_formset.management_form }}
    {{ team_members_formset.non_form_errors }}
    {% for team_member_form in team_members_formset %}
        <div class="team-members-formset form-row">
            {% for field in team_member_form %}
            <div class="form-desc">
                {{ field.label_tag }}
            </div>
            {{ field }}
            {{ field.errors }}
            {% endfor %}
        </div>
    {% endfor %}
    </div>

    <div class="form-section">
        <button class="btn" type="submit">{% translate "提交" %}</button>
    </div>
</form>

<script>
$('.team-members-formset').formset({
    prefix: '{{ team_members_formset.prefix }}',
    addText: '{% translate "提交另一位队伍成员" %}',
    deleteText: '\u2716',
    addCssClass: 'formset-add-link',
});
$('.formset-add-link').click(function() {
    $('.errorlist').remove();
});
</script>

{% endblock %}
